header {
    padding: 0px;
}

.headerCpn {
    .flex {
        display: flex;
        padding: 7px 0;
    }

    .navDrop {
        text-decoration: none;
        color: black;
    }

    .navPrimary {
        flex: 1;

        ul {
            margin: 0;
            text-decoration: none;
            list-style-type: none;

            li {
                display: inline-block;
                padding: 0 10px;
            }
        }
    }

    .logo {
        text-decoration: none;
        color: #212940;
        font-weight: 750;
        font-size: 1.2rem;
        background: rgb(0, 114, 181);
        background: radial-gradient(
            circle,
            rgba(0, 114, 181, 0.5133403703278187) 0%,
            rgba(238, 174, 202, 0.373284347918855) 100%
        );
        padding: 0 15px;
        border-radius: 50px;
    }

    .textLink {
        text-decoration: none;
        color: black;
        cursor: pointer;

        &:hover {
            opacity: 0.7;
        }
    }

    hr {
        height: 2px;
        border: none;
        background-color: black;
    }

    .hrTop {
        margin-bottom: 2px;
    }

    .active1 {
        border-bottom: 3.2px solid blue;
    }

    // user land
    .account{

        .userIcon{
            font-size: 23px;
        }
    }


    .activeSelect{
        border-bottom: 3.2px solid blue !important;
    }
}
