header {
    padding: 0px;
    
}

fieldset {
    border: 1px groove #ddd !important;
    padding: 0 1em 0em 1em !important;
    margin: 0 0 1.5em 0 !important;
    width: 100%;
    -webkit-box-shadow:  0px 0px 0px 0px #000;
            box-shadow:  0px 0px 0px 0px #000;
}


form{
    width: 100%;
    padding: 0;
}

h5{
 text-align: center;
 margin: 20px;

}



legend{
    font-size: 1.2em !important;
    font-weight: bold !important;
    text-align: left !important;
}

.flex {
    display: flex;
    background-color: #4e63d934;
}

.logo {
    text-decoration: none;
    color: #212940;
    font-weight: 750;
    padding: 5px 10px;
    padding-top: 10px;
    font-size: 1.2rem;
}

.navPrimary {
    flex: 1;

    ul {
        list-style: none;
        margin: 0;

        li {
            display: inline-block;
            padding: 5px 10px;
        }
    }
}

.textLink {
    text-decoration: none;
    color: black;
    cursor: pointer;

    &:hover {
        opacity: 0.7;
    }
}


.alert{
    padding: 6px 10px;
    width: 80%;
}

// .scrollTable{
//     overflow-y: auto;
//     overflow-x: hidden;
//     height: 250px;
// }

hr {
    margin-top: 0;
}